#titulo{
    font-size: 65px; 
    color: orange; 
    font-family: sans-serif;
    text-decoration: underline;
 }
 .list{
     background-color: pink;
 }
 p{
     font-weight: 600;
     font-size: 3 em;
     font-style: italic;
     line-height: 10px;
 }
 body{
     font-size: 16px;
 }
 
 #amarelo{
   background-color: yellow;
 }
 
 #vermelho{
   background-color: red;
 }
 
 #marrom{
   background-color: brown;
 }